html, body{
  height: 100%;
  background-color: #434343;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
}

.fundo{
  width: 100%;
}